html {
    overflow-x: hidden;
}

html, body {
    min-height: 100vh;
    overflow-anchor: none;
    scroll-behavior: smooth;
    &.fixing {
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}

@include min(992px) {
    html, body {
        &.fixing {
            position: static;
        }
    }
}

body,
button,
textarea,
input,
span,
label,
a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Neucha', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--standart-color);
}

body,
button,
textarea,
input,
span,
label,
a, p, span {
    font-size: var(--standart-font-size);
}

a, span, p {
    word-break: break-word;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: transparent;
}

textarea {
    font-weight: 400;
}

picture {
    display: block;
}

.header {
    flex: 0 0 auto;
}

.hide {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}   

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
